<!--				<form class="form-inline well well-sm" >-->
				<form class="navbar-form navbar-left" >
<!--						<span class="fa fa-search" ></span >-->

						<div class="form-group" >
							<input type="text"
							       class="form-control"
							       id="name"
							       ng-model="contacts.search"
							       ng-model-options="{debounce:300}"
							       placeholder="Search name..."
									/>
						</div >

<!--						<span class="fa fa-sort" ></span >-->

						<div class="form-group" >
							<select class="form-control"
							        ng-model="contacts.ordering" >
								<option value="name" >Name (ASC)</option >
								<option value="-name" >Name (DEC)</option >
								<option value="email" >Email (ASC)</option >
								<option value="-email" >Email (DEC)</option >
							</select >
						</div >

<!--
						<button class="btn btn-primary pull-right"
						        ng-click="showCreateModal()" >Create
						</button >
-->

					</form >
